*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#d3d3d3;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
#inputs-container{
    display: flex;
    flex-direction: column;
    margin: 1%;
    align-items: center;
    align-content: center;
}
input{
    margin-bottom: 3%;
    width: 25vw;
    height: 5vh;
}
#btn{
    background-color: #0492c2;
    border: none;
    width: 10vw;
    height: 5vh;
}
#msg{
    color: red;
}
.hidden{
    display: none;
}